.calendar-header{
    text-align: center;
    margin-bottom: 10px;
}
.prevBtn{
    position :relative;
    width: 10px;
    height: 15px;
    
    
    background-color: transparent;
    background-image: url(img/left_arrow.png);
    background-size: cover;
    
    border : none;
}
.nextBtn{
    position :relative;
    width: 10px;
    height: 15px; 
    background-color: transparent;
    background-image: url(img/right_arrow.png);
    background-size: cover;
    
    border : none;
}
.calendar-day{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: 10px;
}
.calendar-container{
    width: 100%;
    display :grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    row-gap: 10px;
    box-sizing: border-box;
    
}
.calendar-cell{
    border-left-style:hidden ;
    border-right-style: hidden;
    align-content: center;
    
    
}
.past-month,
.next-month{
    color : #cccccc;
}
.past-month.sun
,.next-month.sun{
    color: pink;
}
.past-month.sat,
.next-month.sat{
    color : lightyellow;
}
.sun{
    color : rgba(255, 0, 0);
}
.sat{
    color :yellow;
}
.today{
    color : orange;
}