

body{
    margin :0;
    font-family: "maple";
}
.js-toDoList ul{
    overflow: scroll;
}
.js-toDoList li{
    width: 100%;
    position: relative;
    text-align: left;
    list-style: none;
    word-wrap: break-word;
    word-break: break-all;
}

.checkBtn{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(img/checkImg.png);
    background-size: cover;
    background-color: transparent;
    border :none;
}
#nextBtn{
    position :relative;
    width: 25px;
    height: 40px;
    top :90vh;
    left : 90%;
    background-color: transparent;
    background-image: url(img/right_arrow.png);
    background-size: cover;
    
    border : none;

}
.title{
    font-size: 72px;
}
.main_container{
    animation: fadein 1s ;
    background-image: url("img/background.jpg");
    background-size : cover;
    width: 100vw;
    height : 100vh;  
}

.left_box{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color : white;
    position :relative;
    float :left;
    
    width: 60vw;
    height :100vh;
    
}

.right_box{
    background-color : #0505057a;
    color : white;
    position: relative;
    display: flex;
    
    position: relative;
    float : right;
    width :40vw;
    height: 100vh;  
    
}
.right_content{
    position :absolute;
    top :10vh;
    width: 100%;
    height: fit-content;
    display: none;
}

.js-listForm{
    text-align: center;
    margin : 0 auto;
    width: 100%;
}
input{
    color :white;
    background: transparent;
    border-left-style:hidden ;
    border-top-style: hidden;
    border-right-style: hidden;
    border-color:white;
    outline: none;
    font-family: "maple";
}
input:focus::placeholder{
    color:transparent;
}
input::placeholder{
    color :white;
    font-family: "maple";
}
.js-clock{
    position: relative;
}

.js-showUserName,
.js-inputName{
    
    position: relative;
    display :none;
   
}
.showing {
    display :block;
}
.unshowing{
    display: none;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@font-face {
    src :url("Maplestory_Light.ttf");
    font-family: "maple";
}